:root {
  /* Cores */
  --bg-logo: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --background: #E5E5E5;
  --bg-topic: #FDF1EB;
  --color-item: #ED7839;
  --color-titulo: #725C5C;
  --color-border: #E7E7E7;

  /* FONTS */
   --quicksand: 'Quicksand', sans-serif;
   --roboto: 'Roboto', sans-serif;

}


body {
  font-family: var(--quicksand);
}

.container {
  width: calc(100% - 220px);
  height: auto;
  margin-left: 220px;
}

.content {
  width: 1058px;
  height: auto;
  margin: 0 45px;
}

.botao {
  background: var(--color-item);
  height: 31px;
  display: block;
  width: 100%;
  max-width: 235px;

  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  transition: 300ms;
} 

.botao:hover {
  cursor: pointer;
  background: rgb(252, 160, 73);
  box-shadow: 2px 2px 5px rgba(236, 183, 122, 0.795);
}
.txt-bold {
  font-weight: bold;
}

.cursor-p {
  cursor: pointer; 
}

.hidden {
  display: none;
}

.show {
  display: contents;
}